@import "tailwindcss";

@layer base {
	html {
		color-scheme: light;
	}

	html.dark {
		color-scheme: dark;
	}

	body {
		background-color: var(--color-slate-50);
		color: var(--color-slate-900);
	}

	html.dark body {
		background-color: var(--color-slate-950);
		color: var(--color-slate-100);
	}
}